<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/879b60ba-6976-4e9f-a264-84aaeb5b1a4b/resourcegroups/WrkshpDemo1/providers/Microsoft.Web/sites/MyWebAppDeploy20180605012936</ResourceId>
    <ResourceGroup>WrkshpDemo1</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://mywebappdeploy20180605012936.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/879b60ba-6976-4e9f-a264-84aaeb5b1a4b/resourcegroups/WrkshpDemo1/providers/Microsoft.ContainerRegistry/registries/registry20180605012943</ContainerResourceId>
    <ContainerResourceName>registry20180605012943</ContainerResourceName>
    <Subscription>Pay-As-You-Go Dev/Test</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180605012943.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f09bcf21-6099-4b09-9551-b9616d9bc834</ProjectGuid>
  </PropertyGroup>
</Project>